@model Garage_2._0.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Typ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Typ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfParking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOfParking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumnOfWheels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumnOfWheels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
